@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  scroll-snap-type: y mandatory; /* Scroll geçişi için */
  overflow-y: scroll;
  height: 100vh; /* Her bölümü tam ekran kapla */
}

#home-section, #resume-section {
  scroll-snap-align: start;
  height: 100vh; /* Bölümün tamamı ekranı kaplasın */
}

